<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template *ngFor="let slider of sliders" ngbSlide>
                    <img [src]="slider.imagePath" alt="Random first slide" class="img-fluid mx-auto d-block"
                        width="100%" />
                    <div class="carousel-caption">
                        <h3>{{ slider.label }}</h3>
                        <p>{{ slider.text }}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr />

    <div class="row">
        <div *ngFor="let util of utilidades">
            <div class="column">
                <!-- <img src="{{util.imagePath}}"  alt="{{util.label}}" style="width:100%" /> -->
                <img src="{{util.imagePath}}"  title="{{util.label}}" style="width:100%" />
            </div>
        </div>
    </div>
    <hr />
    <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Curriculum Vitae de Antonio Fernández Lucena</div>
            </div>
        </div>
    </footer>